<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="employee-homepage.css" />

	</head>
	<body>
		<ul>
            <li><a href="/logout">LOG OUT</a></li>
		  </ul>
          <h1>You should buy present to: <%=paired_employee[0].name%></h1>
	</body>
	
</html>

